<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests|vendor)(/|$) - [F,L]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
