// Bootstrap Configuration
@use 'bootstrap/scss/bootstrap' with (
  $body-bg: #f8fafc,
  $font-family-sans-serif: ('Nunito', sans-serif),
  $font-size-base: 0.9rem,
  $line-height-base: 1.6
);

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

.custom-spin-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}